body{
    background-image: url('./—Pngtree—calculator\ children\'s\ day\ toy\ background_1339705.png');
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    border-color: rgb(27, 39, 115);
}
input{
    background-color: rgb(101, 113, 197);
    color: rgb(3, 3, 3);
    font-size:larger
}
#result{
    background-color: rgb(228, 228, 228);
    
    font-size: x-large;
}
